* {
    margin :0;
}
img {
    width:5%;   
}
nav {
    background-color: gainsboro;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
nav ul {
     display: flex;
    list-style-type: none;
    }
nav li {
    padding: 20px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover{
    color: blue;
}